# Ipython notebook checkpoint directory
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MP3 files
mono-*.mp3
poly-*.mp3

src/midi/piano_chords

# Data files (training and validation vectors)
*.npy

neuralChords.py
neuralViterbi.py
test_output.txt
test.txt
test.py
