# Ipython notebook checkpoint directory
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MP3 files
mono-*.mp3
poly-*.mp3

# Data files (training and validation vectors)
src/data
*.npy

test_output.txt
test.txt
test.py
